rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /usuarios/{userId} {
      allow read: if request.auth != null;
      allow update: if request.auth != null && request.auth.uid == userId;
      allow create, delete: if false;
    }
    match /disciplinas/{disciplinaId} {
      allow read: if request.auth != null;
      allow create, update, delete: if get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.role == 'secretaria';
      match /avisos/{avisoId} {
        allow read: if request.auth != null && request.auth.uid in get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.disciplinasInscrito;
        allow create: if request.auth != null && request.auth.uid == request.resource.data.autorId;
        allow update, delete: if false;
      }
    }
    match /monitorias/{monitoriaId} {
        allow read: if request.auth != null;
        allow create, update, delete: if get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.role == 'secretaria';
    }
    match /salas/{salaId} {
        allow read: if request.auth != null;
        allow create, update, delete: if get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.role == 'secretaria';
    }
    match /notificacoes/{notificacaoId} {
        allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
        allow create: if request.auth != null;
    }
    match /agendaEventos/{eventoId} {
        allow read, create: if request.auth != null;
        allow update, delete: if false;
    }
    match /bloqueios/{bloqueioId} {
        allow read: if request.auth != null;
        allow create, update, delete: if get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.role == 'secretaria';
    }
    match /solicitacoes/{solicitacaoId} {
        allow read: if get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.role == 'secretaria' || (request.auth != null && request.auth.uid == resource.data.monitorId);
        allow create: if request.auth != null && request.auth.uid == request.resource.data.monitorId;
        allow update: if get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.role == 'secretaria';
        allow delete: if false;
    }
  }
}
